.main-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
img {
  height: 400px;
  width: 300px;
}
.left {
  padding: 50px;

  width: 40vw;
}
.right {
  margin: 20px 50px;
  height: 500px;
  width: 600px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input-checkbox {
  display: flex;
  /* width: 50%; */
  justify-content: flex-start;
  align-items: center;
}
.tik {
  height: 15px;
  width: 15px;
}
.checkbox {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  margin-left: 25%;
  background-color: rgb(15, 97, 105);
  color: aliceblue;
  width: 50%;
}
.input-container {
  width: 70%;
}
